<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Home</title>

  </head>
  <body>
    <center>
    <h1>MyDogList</h1>
  </center>
  <button type="button" name="button"><a href="new">Create</a></button>

    <div id="dogs">
      <p>hi</p>

        {{#each dogs}}
        <p>&nbsp;{{name}}</p>
        {{/each}}
    </div>


  </body>
  <link rel="stylesheet" href="/css/master.css">
</html>
