<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Home</title>

  </head>
  <body>
    <center>
    <h1>MyDogList</h1>
  </center>
  <button type="button" name="button"><a href="new">Create A New Dog</a></button>
    <div id="dogs">
    <p id="doggy">Dog List</p>
    <div class="gridcontainer">
    {{#each dogs}}
           <section class="dogCard">
             <img src="/images/{{picture}}" alt="No Picture Provided" id="dogPictureHome">
             <p id="dogName">Name:&nbsp;{{name}}</p>
             <p id="dogAge">Age:&nbsp;{{age}} years old</p>
             <button type="button" name="button"><a href="{{id}}">More Info</a></button>
           </section>
           {{/each}}
    </div>
</div>

  </body>
  <link rel="stylesheet" href="/css/master.css">
</html>
