<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>New Dog</title>
  </head>
  <body>

    <p id = "intro">Add a new DOG!</p>
    <p>Hi</p>
    <form action="/dogs" method="post">
      <label for="dogName">Name</label>
      <input id="dogName" type="text" name="name">
      <br>
      <label for="dogAge">Age</label>
      <input id="dogAge" type="text" name="age">
      <br>
      <label for="dogPicture">PictureUrl</label>
      <input id="dogPicture" type="text" name="picture">
      <br>
      <label for="dogDescription">Description</label>
      <input id="dogDescription" type="text" name="description">
      <br>
      <label for="dogPersonality">Personality</label>
      <input id="dogPersonality" type="text" name="personality">
      <input type="submit" value="Create New Dog">
    </form>
  </body>
<link rel="stylesheet" href="/css/new.css">
</html>
