<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Dog</title>
  </head>
  <body>

    <p>Add a new DOG!</p>
    <form action="/dogs" method="post">
      <label for="dogName"></label>
      <input id="dogName" type="text" name="name">
      <label for="dogAge"></label>
      <input id="dogAge" type="text" name="age">
      <input type="submit" value="Create New Dog">
    </form>
  </body>
</html>
