<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show</title>
  </head>
  <body>
    <h1>DogList</h1>
    <a href="new">Create</a>



  </body>
  <link rel="stylesheet" href="/css/show.css">
</html>
